

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New Books</h3>
    </div>
    <div class="panel-body">
        <p>Check out the latest additions to our collection!</p>
        <img src="~/images/picture-placeholder.jpg" alt="Library" style="width: 100px; height: auto;" />
    </div>
</div>
